<h3>Update Product</h3>
<h5 class="indent"><%= @product.name %></h5>

<%= form_for @product, :html => { :multipart => true } do |form| %>

  <div class="form-group">
  <%= form.label :name, "What is the name of the product?" %>
  <%= form.text_field :name %>
  <br />
  <br />
  <%= form.label :price, "Enter the price" %>
  <%= form.text_field :price %>
  <br />
  <br />
  <%= form.label :description, "Enter the description" %>
  <%= form.text_area :description, :rows => "5" %>
  <br />
  <br />
  <%= form.label :picture, "Click the button to choose a picture to upload:" %>
  <%= form.file_field :picture %>
  <br />
  <br />

  <%= form.submit(:class => "btn btn-primary") %>
</div>
<% end %>
</div>
