<h1>Add a product</h1>

<br />
<br />

<%= form_for @product, :url => products_path, :html => { :multipart => true } do |form| %>

  <div class="form-group">
  <%= form.label :name, "What is the name of the product?" %>
  <%= form.text_field :name %>
  <br />
  <br />
  <%= form.label :price, "Enter the price" %>
  <%= form.text_field :price %>
  <br />
  <br />
  <%= form.label :description, "Enter the description" %>
  <%= form.text_area :description, :rows => "5" %>
  <br />
  <br />
  <%= form.label :picture, "Click the button to choose a picture to upload:" %>
  <%= form.file_field :picture %>
  <br />
  <br />
  <!-- needs to be changed in database from string to text! -->
  <%= form.submit(:class => "btn btn-primary") %>
</div>
</form>
</div>
<% end %>
