<!DOCTYPE html>
<html>
<head>
  <title>Dumb J.Crews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">


 <br />

<div class="rightSideNav">
  &nbsp;
  &nbsp;
  <%= link_to "View Cart", cart_path(@cart) %>


  <img id="cart" src="http://www.clipartbest.com/cliparts/9TR/qa6/9TRqa68Te.png" />

  &nbsp;
  &nbsp;

</div>






</div>
</nav>
<%= yield %>




</div>
</body>
</html>
