<!DOCTYPE html>
<html>
<head>
  <title>Ecrews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>

<%= yield %>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-footer">
 <br />
<p class="admin">ADMINISTRATION BAR </p>
  &nbsp;
  &nbsp;
  <%= link_to "Add a new Product", new_product_path %>




  </div>
</div>
</nav>


</div>
</body>
</html>
